<div id="explore">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 heading">
				<h1>Explore Fabriq</h1>
			</div>
		</div>
		<div class="blocks row">
			<div class="col-md-8 col-md-offset-2">
				<div class="block">
					<i class="fa fa-home"></i>
					<h3>Tribe</h3>
				</div>
				<div class="block">
					<span class="glyphicon glyphicon-music"></span>
					<h3>Artist/DJs</h3>
				</div>
			</div>
		</div>
		<div class="blocks row">
			<div class="col-md-8 col-md-offset-2">
				<div class="block">
					<span class="glyphicon glyphicon-cd"></span>
					<h3>Stages</h3>
				</div>
				<div class="block">
					<i class="fa fa-users"></i>
					<h3>Creatures</h3>
				</div>
			</div>
		</div>
		<div class="more-info row">
			<div class="item col-md-4 col-md-offset-2">
				<i class="fa fa-globe"></i>
				<p>What's happening where</p>
			</div>
			<div class="item col-md-4">
				<span class="glyphicon glyphicon-send"></span>
				<p>Invite and send reps to cool people</p>
			</div>
		</div>
	</div>
</div>