<div id="home">
	<div class="container">
		<div class="row">
			<div class="welcome col-md-8 col-md-offset-2">
				<h1>Fabriq</h1>
				<p><em>Group currency generated and distributed amongst social networks</em></p>
				<p>>> Beam and Earn Reps at Mysteryland and other events <<</p>
				<p>
					Fabriq is a scalable and interoperable identity and reputation management system built with blockchain technology. The project is open source and developed with a flexible framework for customization for various communities and needs. The technological framework will be decentralized and built on Ethereum; a turing complete programming platform built on the blockchain
				</p>
				<p>Beam your favorite DJs, art installations, stages, and find others like you.  Create tribes with your group of friends and interact with other tribes.</p>
				<!-- <a href="#"><i class="fa fa-twitter"></i>Sign up with Twitter</a> -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>Open Source</h1>
				<p>Fabriq is a an open source project demonstrating that your reputation will be a form of currency in the future.  We intend to give attendees an experience of an emerging society with a sharing economy and participative democracy that is enabled by technology. Future versions of Fabriq will allow you to create your own shared groups with their own reps. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>Reputation</h1>
				<p>Reps are issued and maintained on a secure peer-2-peer network called Ethereum. It is likened to a global computer that no one owns and everyone can access. Future versions of Fabriq will allow any group to issue their own tokens, create voting rights, and define procedures for how to change those rules. Groups can earn badges they create, interact across communities, and issue bounties for role fulfillment in exchange for tokens. These groups could be a tribe of friends at a music festival, a start-up company with governance and equity privileges, or members of an urban residential building. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>Stay Updated</h1>
				<span>To stay updated sign up for our newsletter:</span><input type="text">
				<p>The Fabriq Whitepaper was developed at the MIT-Stanford blockchain hackathon. The team was selected as a winner and awarded a grant to continue to develop the application. </p>
				<h1>About the Woodstock Lounge of the Future:</h1>
				<p>Beings from the future have returned to re-imagine Woodstock with us. They have given us a new social currency using the Fabriq app. </p>
				<p>When the hippie generation imagined a new world, they could not have imagined exactly how it would manifest.  Come see what the future holds. Collectively, we create the present.</p>
			</div>
		</div>
	</div>
</div>