<div id="home">
	<div class="landing">
		<h1>Welcome to Fabriq</h1>
		<h2>Group currency generated and distributed among social networks</h2>
		<div class="newsletter">
			<div class="container">
				<div class="col-md-8 col-md-offset-2 tagline">
					<img class="accent-left" src="/assets/landing_accent_left.png"/>Beam and Earn Reps<br>at Mysteryland and Other Events<img class="accent-right" src="/assets/landing_accent_right.png" />
				</div>
			</div>
			<div class="newsletter-form container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-12">
						<%= render 'newsletters/new' %>
					</div>
				</div>
			</div>
		</div>
		<!-- <img class="rep1" src="/assets/rep_gif.gif" /> -->
		<a class="more" href="/main/home#what">Learn More<br><i class="fa fa-chevron-down"></i></a>
	</div>
	<div id="what">
		<div class="container">
			<div class="row">
				<div class="image col-md-4 col-md-offset-1">
					<img src="/assets/fabriq_emblem.jpg" />
				</div>
				<div class="welcome col-md-6">
					<h1>What is Fabriq?</h1>
					<p>
						The Fabriq app is a shared ownership social network for beaming and accepting reputation tokens, or reps. The more you beam, the more reps that you can earn. Beam your favorite DJs, art installations, stages, and find others like you. Create tribes with your group of friends and beam other tribes.
					</p>
					<p>
						Exchange reps for <a target="_blank" href="http://runa.org/">Runa tea,</a> <a target="_blank" href="http://guayaki.com/">Guayaki yerba mate,</a> <a target="_blank" href="http://wildvillagers.com/">Wild Villagers headbands + discounts,</a> and discounts on <a target="_blank" href="http://www.jammypack.com/">Jammypacks</a> in the <a target="_blank" href="http://www.mysteryland.us/en/line-up/artist/woodstock-lounge-future/">Woodstock Lounge of the Future at Mysteryland.</a> 
					</p>
				</div>
			</div>
		</div>
	</div>
<!-- 	<div id="opensource">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<img src="/assets/github_logo.jpg" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h1>Open Source</h1>
					<a target="_blank" href="//github.com/knouse1344/fabriq">github.com/knouse1344/fabriq</a>
					<p>Fabriq is a an open source project demonstrating that your reputation will be a form of currency in the future.  We intend to give attendees an experience of an emerging society with a sharing economy and participative democracy that is enabled by technology. Future versions of Fabriq will allow you to create your own shared groups with their own reps.</p>
				</div>
			</div>
		</div>
	</div> -->
	<div id="how">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1>How does it work?</h1>
					<p>Reps are issued and maintained on a secure peer-2-peer network called Ethereum. It is likened to a global computer that no one owns and everyone can access. Future versions of Fabriq will allow any group to issue their own tokens, create voting rights, and define procedures for how to change those rules.</p>
					<p>Groups can earn badges they create, interact across communities, and issue bounties for role fulfillment in exchange for tokens. These groups could be a tribe of friends at a music festival, a start-up company with governance and equity privileges, or members of an urban residential building.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="lounge">
<!-- 		<img class="rainbow-left" src="/assets/rainbows_left.png" />
		<img class="rainbow-right" src="/assets/rainbows_right.png" /> -->

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1>Woodstock Lounge of the Future</h1>
					<h3>at Mysteryland May 22-25</h3>
					<p>Beings from the future have returned to re-imagine Woodstock with us. They have given us a new social currency using the Fabriq app.</p>
					<p>When the hippie generation imagined a new world, they could not have imagined exactly how it would manifest.  Come see what the future holds. Collectively, we create the present.</p>
				</div>
			</div>
			<div class="activities row">
				<div class="col-md-8 col-md-offset-2">
					<h1>Other Activities Include:</h1>
					<div class="row">
						<div class="col-sm-6">
							<ul>
								<li>Galactic Yoga</li>
								<li>Singularity Photobooth</li>
								<li>Gaia's Tarot Readings</li>
								<li>Magic Mantra Meditations</li>
								<li>Cosmic Board Games</li>
							</ul>
						</div>
						<div class="col-sm-6">
							<ul>
								<li>Shared Canvas Painting</li>
								<li>Makeshift Virtual Reality</li>
								<li>Woodstock Time Machine (listen to original records)</li>
								<li>And more spontaneous happenings!</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="rep row">
				<div class="col-md-8 col-md-offset-2">
					<p>
						In the future, reputation will be a form of currency (in fact, it already is). Come experience an emerging society where technology enables a sharing economy and participative democracy.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="author">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p>Fabriq is a an open source project funded with a grant from the MIT-Stanford Blockchain hackathon. Read the original white paper <a href="/fabriq_whitepaper.pdf">here.</a></p>
			</div>
		</div>
		</div>
	</div>
</div>
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="foot-info col-md-12">
				<span class="copyright">Fabriq Copyright &copy; 2015, All Rights Reserved.</span>
				<div class="foot-links">
					<a href="#">Terms</a>
					<a href="#">Privacy</a>
					<a href="#">About</a>
				</div>
			</div>
		</div>
	</div>
</footer>