<div id="home">
	<div class="container">
		<div class="row">
			<div class="welcome col-md-8 col-md-offset-2">
				<h1>Welcome to Fabriq</h1>
				<p>
					Fabriq is a scalable and interoperable identity and reputation management system built with blockchain technology. The project is open source and developed with a flexible framework for customization for various communities and needs. The technological framework will be decentralized and built on Ethereum; a turing complete programming platform built on the blockchain
				</p>
				<a href="#"><i class="fa fa-twitter"></i>Sign up with Twitter</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>What</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>How</h1>
				<h3>Create a Persona</h3>
				<h3>Beam reps to people</h3>
				<h3>Have a reputation</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>Why</h1>
			</div>
		</div>
	</div>
</div>