<div id="index">
	<div class="container">
		<div class="row">
			<div class="heading col-md-8 col-md-offset-2">
				<h1>Welcome to Fabriq</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<a href="/users/new" class="create">
					<h3>Create a Persona</h3>
					<p>send reps to cool people and stuff</p>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="top-reps row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<h3>Main Reps</h3>
							</div>
						</div>

						<div class="row">
							<div class="col-md-1"></div>
							<% @top_reps.each do |rep| %>
								<div class="item col-md-2">
									<img src="<%= rep.avatar.to_s %>" />
									<h4><a href="/users/<%= rep.id %>"><%= rep.name %></a></h4>
									<p>Lorem Ipsum</p>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>