<div id="index">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<img style="width: 200px; margin: auto; display: block;" src="/assets/fabriq_logo.png" />
				<h1>Welcome to Fabriq</h1>
			</div>
		</div>
	</div>
</div>