/* line 6, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
.heading {
  padding-top: 2em;
  padding-bottom: 1em;
}
/* line 10, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
.heading h1 {
  text-align: center;
}
/* line 14, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
.heading p {
  text-align: center;
}

/* line 19, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index {
  padding: 0 0 5em;
}
/* line 22, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index h1 {
  text-align: center;
}
/* line 26, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index .top-reps {
  border: 2px solid #000;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 31, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index .top-reps h3 {
  font-size: 1.25em;
  margin: 0 0 1em;
}
/* line 38, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index .top-reps .item img {
  width: 40%;
  display: block;
  float: left;
  margin-right: .25em;
}
/* line 45, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index .top-reps .item h4 {
  font-size: .9em;
  font-weight: bold;
  margin: 0 0 0 0;
}
/* line 51, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index .top-reps .item p {
  font-size: .75em;
  margin: 0;
}
/* line 58, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index .create {
  padding: 1em 3em 2em;
  border: 3px solid #000;
  display: block;
  width: 80%;
  border-radius: 5em;
  margin: 2em auto 0;
  text-align: center;
}
/* line 68, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index .create:hover {
  color: #fff;
  background: #333;
}

/* line 83, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#about .information h3 {
  text-align: center;
}
/* line 87, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#about .information p {
  text-align: center;
}
/* line 91, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#about .information .invite, #about .information .explore {
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 3em;
  border: 3px solid #000;
  display: block;
}
/* line 99, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#about .information .invite:hover, #about .information .explore:hover {
  background: #333;
  color: #fff;
}

/* line 110, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .blocks .block {
  padding-top: 2em;
  padding-bottom: 2em;
  border: 3px solid #000;
  margin-bottom: 3em;
  float: left;
  text-align: center;
  width: 48%;
}
/* line 119, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .blocks .block i, #explore .blocks .block span {
  display: block;
  font-size: 7em;
}
/* line 125, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .blocks .block:hover {
  background: #333;
}
/* line 128, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .blocks .block:hover i, #explore .blocks .block:hover span {
  color: #fff;
}
/* line 132, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .blocks .block:hover h3 {
  color: #fff;
}
/* line 137, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .blocks .block:last-child {
  float: right;
}
/* line 141, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .blocks h3 {
  text-align: center;
}
/* line 146, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .more-info {
  padding-top: 3em;
}
/* line 149, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .more-info .item {
  text-align: center;
}
/* line 153, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .more-info i, #explore .more-info span {
  font-size: 3em;
  margin-bottom: .5em;
}
/* line 7, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#signup {
  padding-top: 8em;
}
/* line 10, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#signup label {
  margin-top: 1em;
}

/* line 15, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
.button-container {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}
/* line 20, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
.button-container .button {
  background: transparent;
  border: 3px solid #000;
  padding: .5em 2em;
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* line 34, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content {
  padding-top: 3em;
}
/* line 37, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .rep {
  margin-top: 3em;
  font-size: 1em;
  display: block;
  text-align: center;
}
/* line 43, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .rep p {
  display: block;
  height: 1.5em;
  width: 1.5em;
  margin: auto;
  font-size: 5em;
  border-radius: 1.5em;
  border: 3px solid #000;
  font-weight: bold;
  font-style: italic;
}
/* line 55, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .rep h4 {
  font-size: 1.5em;
  font-weight: bold;
}
/* line 61, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .tribe {
  font-size: 1em;
  text-align: center;
  margin: 3em auto;
  width: 10em;
}
/* line 67, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .tribe i {
  font-size: 5em;
  color: #000;
}
/* line 73, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .invite, #persona .content .explore {
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 3em;
  border: 3px solid #000;
  text-align: center;
  display: block;
}
/* line 82, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .invite:hover, #persona .content .explore:hover {
  background: #333;
  color: #fff;
}
/* line 87, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .top-reps {
  border: 2px solid #000;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 92, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .top-reps h3 {
  font-size: 1.25em;
  margin: 0 0 1em;
}
/* line 99, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .top-reps .item img {
  width: 40%;
  display: block;
  float: left;
  margin-right: .25em;
}
/* line 106, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .top-reps .item h4 {
  font-size: .9em;
  font-weight: bold;
  margin: 0 0 0 0;
}
/* line 112, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .top-reps .item p {
  font-size: .75em;
  margin: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 19, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
html, html body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 27, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
.admin-panel {
  position: absolute;
  top: 3em;
  left: 3em;
  z-index: 500;
}
/* line 33, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
.admin-panel a {
  display: block;
  text-decoration: none;
  color: #000;
  border: 2px solid #000;
  margin: 1em 0;
  padding: .5em 1em;
}
