/* line 8, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/badges.scss */
#badge {
  padding-top: 5em;
}
/* line 12, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/badges.scss */
#badge .badge {
  padding: 2em;
  margin: 1em 0;
}
/* line 16, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/badges.scss */
#badge .badge a {
  color: #fff;
  margin: 0 .5em;
}
/* line 7, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/invites.scss */
#invite {
  padding: 5em 0;
}
@font-face {
  font-family: 'Kabel';
  src: url("/assets/kabel_black.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Kabel';
  src: url("/assets/kabel_book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Kabel';
  src: url("/assets/kabel_heavy.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Kabel';
  src: url("/assets/kabel_light.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* line 36, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
.heading {
  padding-top: 2em;
  padding-bottom: 1em;
}
/* line 40, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
.heading h1 {
  text-align: center;
}
/* line 44, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
.heading p {
  text-align: center;
}

/* line 49, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index {
  padding: 5em 0;
}
/* line 52, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index h1 {
  text-align: center;
}
/* line 56, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index .top-reps {
  border: 2px solid #000;
  padding-top: 1em;
}
/* line 60, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index .top-reps h3 {
  font-size: 1.25em;
  margin: 0 0 1em;
}
/* line 65, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index .top-reps .item {
  margin-bottom: 1em;
}
/* line 68, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index .top-reps .item img {
  width: 40%;
  display: block;
  float: left;
  margin-right: .25em;
}
/* line 75, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index .top-reps .item h4 {
  font-size: .9em;
  font-weight: bold;
  margin: 0 0 0 0;
}
/* line 81, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index .top-reps .item p {
  font-size: .75em;
  margin: 0;
}
/* line 88, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index .create {
  padding: 1em 3em 2em;
  border: 3px solid #000;
  display: block;
  width: 40%;
  border-radius: 5em;
  margin: 2em auto 3em;
  text-align: center;
}
/* line 98, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#index .create:hover {
  color: #fff;
  background: #333;
}

/* line 105, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#about {
  padding: 5em 0;
}
/* line 114, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#about .information h3 {
  text-align: center;
}
/* line 118, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#about .information p {
  text-align: center;
}
/* line 122, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#about .information .invite, #about .information .explore {
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 3em;
  border: 3px solid #000;
  display: block;
}
/* line 130, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#about .information .invite:hover, #about .information .explore:hover {
  background: #333;
  color: #fff;
}

/* line 137, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore {
  padding: 5em 0;
}
/* line 142, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .blocks .block {
  padding-top: 1em;
  padding-bottom: 1em;
  border: 3px solid #000;
  margin-bottom: 3em;
  float: left;
  text-align: center;
  width: 100%;
  text-decoration: none;
}
/* line 152, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .blocks .block i, #explore .blocks .block span {
  display: block;
  font-size: 3em;
}
/* line 157, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .blocks .block h3 {
  font-size: 1.25em;
}
/* line 162, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .blocks .block:hover {
  background: #333;
}
/* line 165, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .blocks .block:hover i, #explore .blocks .block:hover span {
  color: #fff;
}
/* line 169, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .blocks .block:hover h3 {
  color: #fff;
}
/* line 174, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .blocks .block:last-child {
  float: right;
}
/* line 178, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .blocks h3 {
  text-align: center;
}
/* line 183, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .more-info {
  padding-top: 3em;
}
/* line 186, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .more-info .item {
  text-align: center;
}
/* line 190, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .more-info i, #explore .more-info span {
  font-size: 3em;
  margin-bottom: .5em;
}
/* line 196, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .search {
  padding: 5em 0;
}
/* line 199, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .search #userauto {
  display: block;
  border: 1px solid #000;
  padding: .5em 1em;
  min-width: 20em;
}
/* line 206, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .search #userresult {
  width: 100%;
  height: 25em;
  border: 1px solid #ccc;
  overflow-y: auto;
  margin-top: 1em;
}
/* line 214, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .search ul.ui-autocomplete {
  list-style-type: none;
  padding: 1em;
  position: relative;
}
/* line 219, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .search ul.ui-autocomplete li {
  padding: .5em;
  border-top: 1px solid #eee;
  cursor: pointer;
  display: block;
}
/* line 225, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .search ul.ui-autocomplete li a {
  display: block;
}
/* line 228, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .search ul.ui-autocomplete li a img {
  margin-right: 1.5em;
}
/* line 234, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#explore .search ul.ui-autocomplete li:hover {
  background: #eee;
}

/* line 242, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home {
  padding: 0;
  margin: 0;
  position: relative;
}
/* line 247, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home h1, #home h2, #home h3, #home h4, #home p, #home span, #home a {
  font-family: 'Kabel';
}
/* line 251, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home .landing {
  height: 60em;
  width: 100%;
  position: relative;
  background: url("/assets/landing_bg.jpg");
  background-size: cover;
  background-position: center bottom;
  color: #fff;
  text-align: center;
  padding-top: 5em;
}
/* line 262, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home .landing h1 {
  font-family: 'Kabel';
  font-weight: 600;
  margin: 0;
}
/* line 268, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home .landing h2 {
  font-family: 'Kabel';
  margin: 0;
}
/* line 273, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home .landing h3 {
  font-family: 'Kabel';
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.5em;
}
/* line 281, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home .landing .tagline {
  font-family: 'Kabel';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.5em;
  display: block;
  padding: 0 60px;
  margin-bottom: 3em;
  position: relative;
}
/* line 291, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home .landing .tagline .accent-left {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 297, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home .landing .tagline .accent-right {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 304, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home .landing .more {
  position: absolute;
  bottom: 1em;
  width: 10em;
  left: 50%;
  margin-left: -5em;
  color: #fff;
  font-size: 1.75em;
  font-family: 'Kabel';
  display: block;
}
/* line 316, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home .landing .newsletter {
  padding-top: 9em;
}
/* line 321, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home .landing .newsletter .newsletter-form .form-control {
  font-size: 1.2em;
  line-height: 1.2em;
  padding: .5em 1.5em;
  height: auto;
  width: 60%;
  display: inline-block;
  float: left;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-radius: 5px 0 0 5px;
}
/* line 337, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home .landing .newsletter .newsletter-form .button {
  width: 39%;
  float: left;
  display: inline-block;
  background: orange;
  border: 0;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
  padding: .5em 1.5em;
  border-radius: 0 5px 5px 0;
  border-right: 2px solid #ccc;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}
/* line 356, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #what {
  padding: 10em 0;
  border-bottom: 5px solid #eee;
}
/* line 360, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #what h1 {
  text-align: left;
  font-weight: 600;
}
/* line 365, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #what p {
  text-align: left;
  font-size: 1.75em;
  line-height: 1.75em;
  margin-bottom: 2em;
}
/* line 372, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #what .image {
  text-align: center;
  padding-top: 4em;
}
/* line 376, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #what .image img {
  width: 270px;
  display: inline-block;
  margin: auto;
}
/* line 384, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #opensource {
  padding: 10em 0;
}
/* line 387, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #opensource h1 {
  text-align: center;
  font-weight: 600;
}
/* line 392, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #opensource p {
  text-align: center;
  font-size: 1.75em;
  line-height: 1.75em;
  margin-bottom: 2em;
}
/* line 399, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #opensource img {
  width: 275px;
  display: block;
  margin: auto;
}
/* line 406, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #how {
  padding: 10em 0;
  width: 100%;
  background: url("/assets/landing_how_bg.jpg");
  background-size: cover;
  background-position: center bottom;
}
/* line 413, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #how h1 {
  text-align: center;
  font-weight: 600;
}
/* line 418, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #how p {
  text-align: center;
  font-size: 1.75em;
  line-height: 1.75em;
  margin-bottom: 2em;
}
/* line 426, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #lounge {
  padding: 10em 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url("/assets/landing_lounge_bg.jpg");
  background-size: cover;
  background-position: center top;
}
/* line 435, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #lounge h1 {
  text-align: center;
  font-weight: 600;
  color: #fff;
}
/* line 441, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #lounge p {
  color: #fff;
  text-align: center;
  font-size: 1.75em;
  line-height: 1.75em;
  margin-bottom: 2em;
}
/* line 449, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #lounge .rainbow-left {
  position: absolute;
  top: 3em;
  left: -10em;
  width: 423px;
}
/* line 456, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #lounge .rainbow-right {
  position: absolute;
  top: -8em;
  right: -9em;
  width: 358px;
}
/* line 464, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #author {
  padding: 10em 0;
}
/* line 467, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #author h1 {
  text-align: center;
  font-weight: 600;
  color: #000;
}
/* line 473, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home #author p {
  color: #000;
  text-align: center;
  font-size: 1.75em;
  line-height: 1.75em;
  margin-bottom: 2em;
}
/* line 484, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home .welcome a {
  display: inline-block;
  color: #fff;
  background: #5ea9dd;
  padding: 1em 2em;
}
/* line 490, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/main.scss */
#home .welcome a i {
  margin-right: 2em;
}
/* line 7, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/tribes.scss */
#tribe {
  padding-top: 8em;
}
/* line 10, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/tribes.scss */
#tribe .heading {
  text-align: center;
}
/* line 13, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/tribes.scss */
#tribe .heading i {
  font-size: 8em;
}
/* line 7, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#signup {
  padding-top: 5em;
}
/* line 10, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#signup label {
  margin-top: 1em;
}

/* line 15, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
.button-container {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}
/* line 20, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
.button-container .button {
  background: transparent;
  border: 3px solid #000;
  padding: .5em 2em;
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* line 32, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona {
  padding: 5em 0;
}
/* line 35, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content {
  padding-top: 3em;
}
/* line 38, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content h3 {
  margin: 0;
}
/* line 42, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .rep {
  margin-top: 3em;
  font-size: 1em;
  display: block;
  text-align: center;
}
/* line 48, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .rep p {
  display: block;
  height: 2em;
  width: 2em;
  margin: auto;
  font-size: 4em;
  border-radius: 1.5em;
  border: 3px solid #000;
  padding-top: .2em;
  font-weight: bold;
  font-style: italic;
}
/* line 62, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .rep h4 {
  font-size: 1.5em;
  font-weight: bold;
}
/* line 68, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .tribe {
  font-size: 1em;
  text-align: center;
  margin: 3em auto;
  width: 10em;
}
/* line 74, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .tribe i {
  font-size: 5em;
  color: #000;
}
/* line 80, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .invite, #persona .content .explore {
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 3em;
  border: 3px solid #000;
  text-align: center;
  display: block;
}
/* line 89, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .invite:hover, #persona .content .explore:hover {
  background: #333;
  color: #fff;
}
/* line 94, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .top-reps {
  border: 2px solid #000;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 99, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .top-reps h3 {
  font-size: 1.25em;
  margin: 0 0 1em;
}
/* line 106, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .top-reps .item img {
  width: 40%;
  display: block;
  float: left;
  margin-right: .25em;
}
/* line 113, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .top-reps .item h4 {
  font-size: .9em;
  font-weight: bold;
  margin: 0 0 0 0;
}
/* line 119, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/users.scss */
#persona .content .top-reps .item p {
  font-size: .75em;
  margin: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 19, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
html, html body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 27, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#header {
  position: absolute;
  top: 0;
  left: 0;
  height: 5em;
  width: 100%;
  z-index: 500;
  border-bottom: 2px solid #ddd;
  background: #fff;
}
/* line 37, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#header .logo {
  display: block;
  float: left;
  height: 100%;
}
/* line 42, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#header .logo img {
  position: absolute;
  height: 20px;
  transition: all .1s;
  -moz-transition: all .1s;
  -ms-transition: all .1s;
  -webkit-transition: all .1s;
}
/* line 51, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#header .logo img:first-child {
  top: 15px;
}
/* line 55, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#header .logo img:nth-child(2) {
  top: 20px;
}
/* line 59, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#header .logo img:nth-child(3) {
  top: 25px;
}
/* line 63, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#header .logo img:last-child {
  top: 30px;
}
/* line 67, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#header .logo h1 {
  font-weight: bold;
  margin: 0;
  font-size: 1.5em;
  margin-left: 50px;
  line-height: 3.3333333em;
}
/* line 78, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#header .logo:hover img:first-child {
  top: 5px;
}
/* line 82, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#header .logo:hover img:nth-child(2) {
  top: 17px;
}
/* line 86, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#header .logo:hover img:nth-child(3) {
  top: 27px;
}
/* line 90, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#header .logo:hover img:last-child {
  top: 40px;
}
/* line 95, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#header .admin-panel {
  height: 100%;
  position: relative;
  float: right;
}
/* line 100, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#header .admin-panel a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  margin: 1em;
  line-height: 3em;
  padding: 0 1em;
}

/* line 111, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
.edit-container {
  padding-top: 8em;
}

/* line 116, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#footer {
  padding: 10em 0;
  width: 100%;
  background: #170c2b;
}
/* line 121, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#footer .foot-info {
  border-top: 1px solid #fff;
  padding: 1em 0 0;
}
/* line 125, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#footer .foot-info .copyright {
  color: #fff;
  text-align: left;
  font-size: 1em;
}
/* line 131, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#footer .foot-info .foot-links {
  float: right;
}
/* line 134, /Users/Bryan/Desktop/projects/fabriq/app/assets/stylesheets/application.scss */
#footer .foot-info .foot-links a {
  display: inline-block;
  padding: 0 2em;
  font-size: 1em;
  color: #fff;
}
