<div id="persona">
	<div class="container">
		<div class="row">
			<div class="heading col-md-8 col-md-offset-2">
				<h1>My Persona</h1>
			</div>
		</div>
		<div class="content row">
			<div class="col-md-6">
				<img style="display: block; width: 300px; margin: auto;" src="http://placehold.it/300x250" />
				<div class="rep">
					<p><%= @user.reputation %></p>
				</div>
			</div>
			<div class="col-md-6">
				<p>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
				</p>
				<div class="button-container">
					<a href="#" class="button save">Beam 'Reps'</a>
					<a href="#" class="button save">Burn 'Reps'</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				
			</div>
		</div>
	</div>
</div>