<style>
	p, span, div, a {
		font-family: 'Lato', sans-serif;
	}
</style>

<div style="width: 100%;display: block;margin-top: 3em; margin-bottom: 3em;"><img style="width: 300px; display: block; margin: auto;" src="https://s3.amazonaws.com/fabriq/static/logo_med_dark.jpg" /></div>

<div style="text-align: center; display: block; width: 60%; margin: auto;">
<h1>You've been invited to Fabriq!</h1>

<p>Beam and earn reps at Mysteryland and other events</p>

<p>The Fabriq app is a shared ownership social network for beaming and accepting reputation tokens, or reps. The more you beam, the more reps that you can earn. Beam your favorite DJs, art installations, stages, and find others like you.</p>

<p>Create your account here: <a target="_blank" href="http://www.ourfabriq.com/signup">www.ourfabriq.com/signup</a></p>
<br><br>
<h2>Sponsors</h2>
<div style="width: 100%; text-align:center;">
	<img style="height: 50px; display: inline-block; margin: 0 15px;" src="https://s3.amazonaws.com/fabriq/static/sponsors_guayaki.jpg" />
	<img style="height: 50px; display: inline-block; margin: 0 15px;" src="https://s3.amazonaws.com/fabriq/static/sponsors_jammypack.jpg" />
	<img style="height: 50px; display: inline-block; margin: 0 15px;" src="https://s3.amazonaws.com/fabriq/static/sponsors_wild.jpg" />
	<img style="height: 50px; display: inline-block; margin: 0 15px;" src="https://s3.amazonaws.com/fabriq/static/sponsors_runa.jpg" />
	<img style="height: 50px; display: inline-block; margin: 0 15px;" src="https://s3.amazonaws.com/fabriq/static/sponsors_woodstock.jpg" />
</div>
<p>Exchange reps for Runa tea, Guayaki yerba mate, Wild Villagers headbands + discounts, and discounts on Jammypacks in the Woodstock Lounge of the Future at Mysteryland.</p>
<p>Read more about <a target="_blank" href="http://www.ourfabriq.com/main/home">sponsorship & rewards here.</a></p>
</div>

<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>