<h1>Thanks for joining our newsletter!</h1>

<p>
  <%= @greeting %>, create an account here: http://fabriq.herokuapp.com/users/new and rep your tribe.
</p>
<p>Email added to newsletter: <%= @newsletter.email %></p>
