/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, html body {
	width: 100%;
	margin: 0;
	padding: 0;
}



#header {
	position: absolute;
	top: 0;
	left: 0;
	height: 5em;
	width: 100%;
	z-index: 500;
	border-bottom: 2px solid #ddd;
	background: #fff;

	.logo {
		display: block;
		float: left;
		height: 100%;

		img {
			position: absolute;
			height: 20px;
			transition: all .1s;
			-moz-transition: all .1s;
			-ms-transition: all .1s;
			-webkit-transition: all .1s;
		}

		img:first-child {
			top: 15px;
		}

		img:nth-child(2) {
			top: 20px;
		}

		img:nth-child(3) {
			top: 25px;
		}

		img:last-child {
			top: 30px;
		}
		
		h1 {
			font-weight: bold;
			margin: 0;
			font-size: 1.5em;
			margin-left: 50px;
			line-height: 3.3333333em;
		}	
	}

	.logo:hover {

		img:first-child {
			top: 5px;
		}

		img:nth-child(2) {
			top: 17px;
		}

		img:nth-child(3) {
			top: 27px;
		}

		img:last-child {
			top: 40px;
		}
	}

	.admin-panel {
		height: 100%;
		position: relative;
		float: right;

		a {
			display: inline-block;
			text-decoration: none;
			color: #000;
			margin: 1em;
			line-height: 3em;
			padding: 0 1em;
		}
	}
}

.edit-container {
	padding-top: 8em;

}