// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
  font-family: 'Kabel';    
  src: url('/assets/kabel_black.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Kabel';    
  src: url('/assets/kabel_book.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kabel';    
  src: url('/assets/kabel_heavy.otf') format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Kabel';    
  src: url('/assets/kabel_light.otf') format("truetype");
  font-weight: 300;
  font-style: normal;
}



.heading {
	padding-top: 2em;
	padding-bottom: 1em;

	h1 {
		text-align: center;
	}

	p {
		text-align: center;
	}
}

#index {
	padding: 5em 0;

	h1 {
		text-align: center;
	}

	.top-reps {
		border: 2px solid #000;
		padding-top: 1em;

		h3 {
			font-size: 1.25em;
			margin: 0 0 1em;
		}

		.item {
			margin-bottom: 1em;

			img {
				width: 40%;
				display: block;
				float: left;
				margin-right: .25em;
			}

			h4 {
				font-size: .9em;
				font-weight: bold;
				margin: 0 0 0 0;
			}

			p {
				font-size: .75em;
				margin: 0;
			}
		}
	}

	.create {
		padding: 1em 3em 2em;
		border: 3px solid #000;
		display: block;
		width: 40%;
		border-radius: 5em;
		margin: 2em auto 3em;
		text-align: center;
	}

	.create:hover {
		color: #fff;
		background: #333;
	}
}


#about {
	padding: 5em 0;
	
	.information {

		img {

		}

		h3 {
			text-align: center;
		}

		p {
			text-align: center;
		}

		.invite, .explore {
			margin-top: 3em;
			padding-top: 2em;
			padding-bottom: 3em;
			border: 3px solid #000;
			display: block;
		}

		.invite:hover, .explore:hover {
			background: #333;
			color: #fff;
		}
	}
}

#explore {
	padding: 5em 0;

	.blocks {

		.block {
			padding-top: 1em;
			padding-bottom: 1em;
			border: 3px solid #000;
			margin-bottom: 3em;
			float: left;
			text-align: center;
			width: 100%;
			text-decoration: none;

			i, span {
				display: block;
				font-size: 3em;
			}

			h3 {
				font-size: 1.25em;
			}
		}

		.block:hover {
			background: #333;

			i, span {
				color: #fff;
			}

			h3 {
				color: #fff;
			}
		}

		.block:last-child {
			float: right;
		}

		h3 {
			text-align: center;
		}
	}

	.more-info {
		padding-top: 3em;

		.item {
			text-align: center;
		}

		i, span {
			font-size: 3em;
			margin-bottom: .5em;
		}
	}

	.search {
		padding: 5em 0;

		#userauto {
			display: block;
			border: 1px solid #000;
			padding: .5em 1em;
			min-width: 20em;
		}

		#userresult {
			width: 100%;
			height: 25em;
			border: 1px solid #ccc;
			overflow-y: auto;
			margin-top: 1em;
		}

		ul.ui-autocomplete {
			list-style-type: none;
			padding: 1em;
			position: relative;

			li {
				padding: .5em;
				border-top: 1px solid #eee;
				cursor: pointer;
				display: block;

				a {
					display: block;
					
					img {
						margin-right: 1.5em;
					}
				}
			}

			li:hover {
				background: #eee;
			}
		}
	}
}


#home {
	padding: 0;
	margin:0;
	position: relative;

	h1, h2, h3, h4, p, span, a {
		font-family: 'Kabel';
	}

	.landing {
		height: 60em;
		width: 100%;
		position: relative;
		background: url('/assets/landing_bg.jpg');
		background-size: cover;
		background-position: center bottom;
		color: #fff;
		text-align: center;
		padding-top: 5em;

		h1 {
			font-family: 'Kabel';
			font-weight: 600;
			margin: 0;
		}

		h2 {
			font-family: 'Kabel';
			margin: 0;
		}

		h3 {
			font-family: 'Kabel';
			margin: 0;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 2.5em;
		}

		.tagline {
			font-family: 'Kabel';
			font-weight: 700;
			text-transform: uppercase;
			font-size: 2.5em;
			display: block;
			padding: 0 60px;
			margin-bottom: 3em;
			position: relative;

			.accent-left {
				position: absolute;
				top: 0;
				left: 0;
			}

			.accent-right {
				position: absolute;
				top: 0;
				right: 0;
			}
		}

		.more {
			position: absolute;
			bottom: 1em;
			width: 10em;
			left: 50%;
			margin-left: -5em;
			color: #fff;
			font-size: 1.75em;
			font-family: 'Kabel';
			display: block;
		}

		.newsletter {
			padding-top: 9em;

			.newsletter-form {

				.form-control {
					font-size: 1.2em;
					line-height: 1.2em;
					padding: .5em 1.5em;
					height: auto;
					width: 60%;
					display: inline-block;
					float: left;
					color: #fff;
					background: rgba(0,0,0,.5);
					border-top: 2px solid #ccc;
					border-left: 2px solid #ccc;
					border-bottom: 2px solid #ccc;
					border-radius: 5px 0 0 5px;
				}

				.button {
					width: 39%;
					float: left;
					display: inline-block;
					background: orange;
					border: 0;
					text-align: center;
					font-size: 1.2em;
					line-height: 1.2em;
					padding: .5em 1.5em;
					border-radius: 0 5px 5px 0;
					border-right: 2px solid #ccc;
					border-top: 2px solid #ccc;
					border-bottom: 2px solid #ccc;
				}
			}
		}
	}

	#what {
		padding: 10em 0;
		border-bottom: 5px solid #eee;

		h1 {
			text-align: left;
			font-weight: 600;
		}

		p {
			text-align: left;
			font-size: 1.5em;
			line-height: 1.75em;
			margin-bottom: 2em;
		}

		.image { 
			text-align: center;
			padding-top: 4em;

			img {
				width: 270px;
				display: inline-block;
				margin: auto;
			}
		}
	}

	#opensource {
		padding: 10em 0;

		h1 {
			text-align: center;
			font-weight: 600;
		}

		p {
			text-align: center;
			font-size: 1.75em;
			line-height: 1.75em;
			margin-bottom: 2em;
		}

		img {
			width: 275px;
			display: block;
			margin: auto;
		}
	}

	#how {
		padding: 10em 0;
		width: 100%;
		background: url('/assets/landing_how_bg.jpg');
		background-size: cover;
		background-position: center bottom;

		h1 {
			text-align: center;
			font-weight: 600;
		}

		p {
			text-align: center;
			font-size: 1.75em;
			line-height: 1.75em;
			margin-bottom: 2em;
		}
	}

	#lounge {
		padding: 10em 0;
		width: 100%;
		overflow: hidden;
		position: relative;
		background: url('/assets/landing_lounge_bg.jpg');
		background-size: cover;
		background-position: center top;

		h1 {
			text-align: center;
			font-weight: 600;
			color: #fff;
		}

		p {
			color: #fff;
			text-align: center;
			font-size: 1.75em;
			line-height: 1.75em;
			margin-bottom: 2em;
		}

		.rainbow-left {
			position: absolute;
			top: 3em;
			left: -10em;
			width: 423px;
		}

		.rainbow-right {
			position: absolute;
			top: -8em;
			right: -9em;
			width: 358px;
		}
	}

	#author {
		padding: 10em 0;

		h1 {
			text-align: center;
			font-weight: 600;
			color: #000;
		}

		p {
			color: #000;
			text-align: center;
			font-size: 1.75em;
			line-height: 1.75em;
			margin-bottom: 2em;
		}
	}

	.welcome {

		a {
			display: inline-block;
			color: #fff;
			background: #5ea9dd;
			padding: 1em 2em;

			i {
				margin-right: 2em;
			}
		}
	}
}




