// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.heading {
	padding-top: 2em;
	padding-bottom: 1em;

	h1 {
		text-align: center;
	}

	p {
		text-align: center;
	}
}

#index {
	padding: 5em 0;

	h1 {
		text-align: center;
	}

	.top-reps {
		border: 2px solid #000;
		padding-top: 1em;

		h3 {
			font-size: 1.25em;
			margin: 0 0 1em;
		}

		.item {
			margin-bottom: 1em;

			img {
				width: 40%;
				display: block;
				float: left;
				margin-right: .25em;
			}

			h4 {
				font-size: .9em;
				font-weight: bold;
				margin: 0 0 0 0;
			}

			p {
				font-size: .75em;
				margin: 0;
			}
		}
	}

	.create {
		padding: 1em 3em 2em;
		border: 3px solid #000;
		display: block;
		width: 40%;
		border-radius: 5em;
		margin: 2em auto 3em;
		text-align: center;
	}

	.create:hover {
		color: #fff;
		background: #333;
	}
}


#about {
	padding: 5em 0;
	
	.information {

		img {

		}

		h3 {
			text-align: center;
		}

		p {
			text-align: center;
		}

		.invite, .explore {
			margin-top: 3em;
			padding-top: 2em;
			padding-bottom: 3em;
			border: 3px solid #000;
			display: block;
		}

		.invite:hover, .explore:hover {
			background: #333;
			color: #fff;
		}
	}
}

#explore {
	padding: 5em 0;

	.blocks {

		.block {
			padding-top: 2em;
			padding-bottom: 2em;
			border: 3px solid #000;
			margin-bottom: 3em;
			float: left;
			text-align: center;
			width: 48%;
			text-decoration: none;

			i, span {
				display: block;
				font-size: 7em;
			}
		}

		.block:hover {
			background: #333;

			i, span {
				color: #fff;
			}

			h3 {
				color: #fff;
			}
		}

		.block:last-child {
			float: right;
		}

		h3 {
			text-align: center;
		}
	}

	.more-info {
		padding-top: 3em;

		.item {
			text-align: center;
		}

		i, span {
			font-size: 3em;
			margin-bottom: .5em;
		}
	}
}





