// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#signup {
	padding-top: 7em;

	h1 {
		font-family: 'Kabel';
	}

	input {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 2px solid #ccc;
		font-size: 1.2em;
		margin-top: 1.5em;
		padding-left: 0;
		border-radius: 0;
		box-shadow: 0 0 0;
	}

	label {
		margin-top: 1em;
		font-family: 'Open Sans', sans-serif;
	}

	p {
		font-family: 'Open Sans', sans-serif;
	}

	.button-container {
		padding-top: 2em;
		padding-bottom: 2em;
		text-align: center;

		.button {
			margin-top: 0;
			background: transparent;
			border: 3px solid #ccc;
			padding: .5em 2em;
			display: block;
			font-size: 1.2em;
			text-decoration: none;
			color: #ccc;
			font-weight: bold;
			width: 100%;
			border-radius: .5em;
		}

		.button:hover {
			color: green;
			border: 3px solid green;
		}

		.cancel:hover {
			color: red;
			border: 3px solid red;
		}
	}
}

.button-container {
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;

	.button {
		background: transparent;
		border: 3px solid #ccc;
		padding: .5em 2em;
		display: block;
		text-decoration: none;
		color: #ccc;
		font-weight: bold;
		width: 100%;
		font-size: 1.2em;
		border-radius: .5em;
	}

	.button:hover {
		color: #333;
		border: 3px solid #333;
	}
}

#persona {
	padding: 5em 0;

	.content {
		padding-top: 3em;

		h3 {
			margin: 0;
		}

		.avatar {
			display: block;
			width: 100%;
			margin: 0 auto;
		}
		
		.rep {
			margin-top: 3em;
			font-size: 1em;
			display: block;
			text-align: center;

			p {
				display: block;
				height: 2em;
				width: 2em;
				margin: auto;
				font-size: 4em;
				border-radius: 1.5em;
				border: 3px solid #000;
				padding-top: .2em;
				font-weight: bold;
				font-style: italic;

			}

			h4 {
				font-size: 1.5em;
				font-weight: bold;
			}
		}

		.tribe {
			font-size: 1em;
			text-align: center;
			margin: 3em auto;
			width: 10em;

			i {
				font-size: 5em;
				color: #000;
			}
		}

		.invite, .explore {
			margin-top: 3em;
			padding-top: 2em;
			padding-bottom: 3em;
			border: 3px solid #000;
			text-align: center;
			display: block;
		}

		.invite:hover, .explore:hover {
			background: #333;
			color: #fff;
		}

		.top-reps {
			border: 2px solid #000;
			padding-top: 1em;
			padding-bottom: 1em;

			h3 {
				font-size: 1.25em;
				margin: 0 0 1em;
			}

			.item {

				img {
					width: 40%;
					display: block;
					float: left;
					margin-right: .25em;
				}

				h4 {
					font-size: .9em;
					font-weight: bold;
					margin: 0 0 0 0;
				}

				p {
					font-size: .75em;
					margin: 0;
				}
			}
		}
	}
}

