<div class="admin-panel">
	<h3><a href="/users/<%= current_user.id %>">Hello, <%= current_user.name %></a></h3>
	<a href="/users/new">New User</a>
	<% if signed_in? %>	        
	    <%= link_to "Log out", signout_path, method: "delete", class: 'login' %>
	<% else %>
		<a href="/signin" class="login">Log In</a>
	<% end %>
	<a href="/main/explore">Explore</a>
	<a href="/main/about">About Fabriq</a>
	<a href="#">Invite Others</a>
</div>