<div id="pendinglist">
    <div class="container">
        <div id="pending" class="row text-center" style="opacity: 0.7;">
            <div id="basePending" style="display:none;">
                <span class="three-quarters-loader" ></span> 
                <span class="glyphicon glyphicon-ok" style="color: green; display: none;"></span>
                <span class="glyphicon glyphicon-remove" style="color: red; display: none;"></span>
                <span class="glyphicon glyphicon-time" style="color: orangered; display: none;"></span>
                <span class="pending-msg">
                </span>
            </div>
        </div>
    </div>
</div>
